.home-container {
    box-sizing: border-box;
    text-align: center;
    padding: 0 80px; /* Horizonal padding */
}

.top-right-buttons {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    gap: 1rem;
}

.single-top-right-button {
    background-color: #1e1e1e;
    color: white;
    padding: 0.7rem 1.1rem;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.2s ease, transform 0.1s ease;
    display: flex;
    align-items: center;
}

.single-top-right-button:hover {
    color: white;
    background-color: #333333;
    transform: translateY(-2px); /* Add a subtle lift effect */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Enhance the shadow on hover */
}

.top-left-buttons {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    gap: 1rem;
}

.single-top-left-button {
    background-color: #1e1e1e;
    color: white;
    padding: 0.9rem 1rem;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.2s ease, transform 0.1s ease;
    display: flex;
    align-items: center;
}

.single-top-left-button:hover {
    color: white;
    background-color: #333333;
    transform: translateY(-2px); /* Add a subtle lift effect */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Enhance the shadow on hover */
}

h1 {
    color: #333;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 600
}

p {
    color: #666;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}

/* Styles for the home banner section */
.banner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 20px 0;
}

.home-banner {
    background-color: transparent;
    border-radius: 20px;
    padding: 0;
    margin: 20px auto;
    max-width: 450px;
    max-height: 450px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox to align content */
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Inherit color for the text */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for hover effect */
}

.home-banner:hover {
    transform: translateY(-10px); /* Add a subtle lift effect */
    box-shadow: 0 0 20px rgba(85, 85, 85, 0.4); /* Enhance the shadow on hover */
}

.home-banner-image {
    max-width: 450px; /* Set a fixed width for the image */
    max-height: 450px; /* Set a fixed height for the image to make it square */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 20px;
}
