.home-container {
    box-sizing: border-box;
    text-align: center;
    padding: 0 clamp(0px, 5vw, 80px);
    max-width: 1200px;
    margin: 0 auto;
}

.top-right-buttons {
    position: absolute;
    top: clamp(1rem, 2vw, 1.5rem);
    right: clamp(1rem, 2vw, 1.5rem);
    display: flex;
    gap: 0.8rem;
    z-index: 10;
}

.top-left-buttons {
    position: absolute;
    top: clamp(1rem, 2vw, 1.5rem);
    left: clamp(1rem, 2vw, 1.5rem);
    display: flex;
    gap: 1rem;
}

.single-top-right-button {
    background-color: #1e1e1e;
    color: white;
    padding: clamp(0.5rem, 1.15vw, 0.7rem) clamp(0.8rem, 2vw, 1.2rem);
    border-radius: clamp(10px, 2vw, 15px);
    text-decoration: none;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-weight: 500;
    transition: background-color 0.2s ease, transform 0.1s ease;
    display: flex;
    align-items: center;
}

.single-top-left-button {
    background-color: #1e1e1e;
    color: white;
    padding: clamp(0.6rem, 1.7vw, 0.85rem) clamp(0.7rem, 2vw, 1rem);
    border-radius: clamp(10px, 2vw, 16px);
    text-decoration: none;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-weight: 500;
    transition: background-color 0.2s ease, transform 0.1s ease;
    display: flex;
    align-items: center;
}

.single-top-right-button:hover,
.single-top-left-button:hover {
    color: white;
    background-color: #333333;
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #333;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 600;
    font-size: clamp(2rem, 5vw, 3.2rem);
}

p {
    color: #666;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.3em); /* Text shrinks slightly on smaller screens */
}

/* Styles for the home banner section */
.banner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: clamp(15px, 3vw, 30px);
    padding: 20px 0;
    justify-items: center;
    margin-top: 2rem;
}

.home-banner {
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
    aspect-ratio: 1 / 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.home-banner:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(85, 85, 85, 0.4);
}

.home-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* --- Mobile Specific Overrides --- */
/* Change home banner to display only 1 column */
@media (max-width: 700px) {
    .home-container h1 {
        padding: 25px 0 0;
        margin-top: clamp(2rem, 8vw, 3.5rem);
        font-size: clamp(1.5rem, 8vw, 2.5rem);
    }

    .banner-grid {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0;
    }

    .home-banner {
        aspect-ratio: 1 / 1;
        margin: 0 auto;
    }
}