.single-project-page {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 10px;
    line-height: 1.7;
    color: #eaeaea;
}

.single-project-page h1 {
    color: #333;
    font-family: "Ubuntu", sans-serif;
}

.single-project-page h2 {
    margin-bottom: 16px;
    color: #333;
}

.single-project-page p {
    text-align: justify;
}

.project-screenshot-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.project-screenshots-image {
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.project-page-button {
    background-color: #1e1e1e;
    color: white;
    padding: 0.6rem 0.9rem;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    display: inline-flex;
    align-items: center;
}

.project-page-button svg {
    margin-right: 0.6rem;
    font-size: 1.6rem;
}

.project-page-button:hover {
    color: white;
    background-color: #333333;
    transform: translateY(-2px); /* Add a subtle lift effect */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Enhance the shadow on hover */
}
