.single-project-page {
    padding: 15px clamp(0px, 1vw, 15px);
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.7;
    color: #eaeaea;
    align-self: flex-start;
    width: 100%;
}

.single-project-page h1 {
    color: #333;
    font-family: "Ubuntu", sans-serif;
}

.single-project-page h2 {
    margin-bottom: 16px;
    color: #333;
}

.single-project-page p {
    text-align: justify;
}

.code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: monospace;
    color: #333;
}

.project-screenshot-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.project-screenshots-image {
    max-width: 800px;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.project-page-button {
    background-color: #1e1e1e;
    color: white;
    padding: clamp(0.5rem, 1.15vw, 0.7rem) clamp(0.8rem, 2vw, 1.2rem);
    border-radius: clamp(10px, 2vw, 16px);
    text-decoration: none;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-weight: 500;
    margin-bottom: 10px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    display: inline-flex;
    align-items: center;
}

.project-page-button svg {
    margin-right: clamp(0.2rem, 2vw, 0.6rem);
    font-size: clamp(1.2rem, 3vw, 1.6rem);
}

.project-page-button:hover {
    color: white;
    background-color: #333333;
    transform: translateY(-2px); /* Add a subtle lift effect */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Enhance the shadow on hover */
}
